.subscription-list {
    flex-direction: column;
    display: flex;
  }

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-container {
  flex: 1;
  margin-right: 20px;
}

.subscription-list-container {
  flex: 1;
  margin-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
}

form input,
form select {
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
}

form button {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #004878;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #003366;
}