.nav-bar {
  background-color: #004878;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 97vw;
  color: white;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  float: center;
}