.subscription-list {
  color: rgb(255, 255, 255); /* Change this to the desired color */
  background-color: #004878;
}

.subscription-list h2 {
  color: black;
}

.subscription-list ul {
  list-style-type: none; /* Remove default list styling */
  display: block;
  padding: 0; /* Remove default padding */
}

.subscription-list li {
  margin-bottom: 10px;
  display: block; /* Ensure list items are block elements */
}

.subscription-list button {
  margin-left: 10px;
  color: red; /* Change this to the desired color for the button text */
}